/* root & base styles */

html {
  height: 100vh;

  background: url("images.jpeg");
}

body {
  margin-top: 15%;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.glass-effect {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0);
}
/* ---------------- navbar ---------------- */

#navbar-container {
  margin-top: 25px;
  margin-bottom: 25px;
  min-width: 80%;
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#navbar ul a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

/* ---------------- index ---------------- */

#index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
}

.index-sections {
  min-height: 100%;
  text-align: center;
}

/* ---------------- about ---------------- */
#about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  padding: 25px;
}

.about-sections {
  min-height: 100%;
  text-align: center;
  width: 80%;
  text-align: center;
}

#about-btn {
  width: 80%;
  height: 35px;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid rgb(73, 67, 67);
}

li {
  list-style-position: inside;
}

/* ---------------- contact ---------------- */
#contact-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  padding: 25px;
}

#form-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-form-labels {
  display: block;
}

.contact-form-inputs {
  min-width: 250px;
  background-color: transparent;
  min-height: 35px;
  border: 1px solid rgb(73, 67, 67);
  border-radius: 16px;
}

#contact-form-submit {
  min-width: 250px;
  background-color: transparent;
  min-height: 35px;
  border: 1px solid rgb(73, 67, 67);
  border-radius: 16px;
}

#social-media-section {
  width: 100%;
  text-align: center;
}

#social-media-list {
  position: relative;
  right: 0px;
  display: flex;
  justify-content: space-evenly;

  list-style-type: none;

  margin: 0px;

  list-style: none;
  padding: 0;
  margin: 0;
}

#social-media-inner-list li {
  min-width: 33.3%;
  margin: 0;
}

#social-media-inner-list li a {
  text-decoration: none;
  color: black;
}

/* ---------------- footer ---------------- */
footer {
  min-width: 80%;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
